<div class="row">
    <div class="clo-xs-12">
        <form (ngSubmit)="onSubmit(s)" #s="ngForm"> 
            <div class="row">
                <div class="col-sm-3 form-group">
                    <label for="name">Name</label>
                    <input 
                    type="text" 
                    id="name" 
                    class="form-control" 
                    ngModel
                    name="name"
                    required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input 
                    type="number" 
                    id="amount" 
                    class="form-control" 
                    ngModel
                    name="amount"
                    required
                    pattern="^[1-9]+[0-9]*$">
                </div>
                <div class="col-sm-3 form-group">
                    <label for="price">Price</label>
                    <input 
                    type="number" 
                    id="price" 
                    class="form-control" 
                    placeholder="Rs" 
                    ngModel 
                    name="price">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                    class="btn btn-success" 
                    type="submit" 
                    [disabled]="!s.valid">
                    {{editMode ? 'Update' : 'Add' }}</button>
                    <button type="button" 
                    class="btn btn-danger" 
                    (click)="onDelete()" 
                    *ngIf="editMode">Delete</button>
                    <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>